<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Here is the current weather of <%= city %></h2>
    <h1><%= tmp%>deg C</h1>
    <img src=<%=img_src%> alt="">
  </body>
</html>
